*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    /* remove background-color later*/
    margin: 0px;
    align-items: center;
    box-sizing: border-box;
    background-color: #E5E5E5;
}

.header{
    display: block;
    background-position: center top;
    background-image: url(/src/images/slide1.png);
    max-width: 100%;
    padding: 30px;
    text-align: center;
    justify-content: center;
    height: 200px;
}

.header h1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    color: white;
    vertical-align: middle;
    position: relative;
    top: 120px;
}

#navcontainer{
    z-index: 500;
    overflow: hidden;
    width: 100%;
    height: 90px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(77, 77, 77, 0.7);
    
}

nav{
    float:right;
    align-items: right;
    color: white;
}

#navcontainer .logo{
    width: 40%
}

#navcontainer .logo img{
    float:left;
    height: 120px;
    margin-left: 27.5px;

    /* rotates the image*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

nav ul{
    display: inline;
    float: right;
}

nav ul li{
    top: 102px;
    display: inline-block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 38px;
    text-align: right;
    text-decoration: none;  
}

nav ul li a{
    color: white
}

nav ul li a:hover{
    color:orange;
}

#donate-button{
    background-color: #FE9C00;
    color: black;
    font-size: 18px;
    line-height: 28px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 27.5px;
    margin-right: 0 auto;
}

#donate-button a{
    color: black;
}

#donate-button:hover{
    background-color:#ffce7e;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .description {
    padding-top: 50px;
}

/*MAIN CONTENT*/

/* first description */

.greyText1{
    color: #4d4d4d;;
    text-align: center;
    padding-left: 50px;
    width: 70%;
    text-align: right;
}

.greyText1 h1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    font-size: 5vw;
}

.greyText1 h2{
    font-family: 'Work Sans';
    font-weight: 600;
    font-style: bold;
    font-size: 4vw;
    margin-top: 75px;
}

.greyText1 p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    margin-top: 20px;
}

.description1 { 
    width: 90%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    display: flex;
    padding: 100px 0 100px 0;
}

.description1 .text{
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
}

.box1{
    width: 80%;
}

.box1 img{
    width: 100%;
    align-items: left;
    height: 100%;
}

/* FOOTER */

/*Contact Information*/
.contact{
    display: flex;
    overflow: hidden;
    text-align: center;
    width: 80%;
    background-color: #4d4d4d;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
}

.colContact {
    flex: 33.33%;
    padding-right: 30px;
    border: 20px;
    text-align: left;
}

.colContact h1{
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    font-style: normal;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.colContact img{
    float: left;
}
 
.linkColumn{
    text-align: left;
    padding-top: 30px;
}

.linkColumn p{
    font-family: 'Work Sans';
    font-size: 15px;
    margin: 0px;
    clear: both;
    color: white;
    display: flex;
}

.rowicon{
    display: flex;
    align-items: center;
}

.rowicon p{
    font-family: 'Work Sans';
    font-size: 15px;
    margin: 0px;
    clear: both;
    color: white;
    display: flex;
}

.icon{
    padding: 10px 25px 25px 0px;
}

.icon_low{
    padding: 10px 25px 0px 0px;
}

.logo_footer{
    display:block;
    padding-bottom: 50px;
    width: 100%;
}

.logo_text{
    display:block;
    padding-bottom: 50px;
    width: 80%;
}

.socmed {
    display: flex;
    width: 90%;
}
  
.smColumn {
    flex: 33.33%;
    padding: 5px;
}

.sm{
    width: 80%;
}

footer{
    display: block-inline;
    text-align: center;
    width: 100%;
    background-color: #FE9C00;
    align-items: center;
    justify-content: center;
}

.copyright { 
    display: block;
    height: auto;
    background-color: #FE9C00;
    width: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: normal;
    color: #4d4d4d;
}