<template>
  <div id="app">
    <!--nav bar with logo-->
    <div class="nav-container">
      <div class="logo">
        <a href="/"><img
          src="../../assets/images/logo.png"
          alt="DawnNationLogo"
        ></a>
      </div>
      <nav>
        <ul>
          <li><a href="about-us.html">ABOUT US</a></li>
          <li><a href="orgs.html">ORGS</a></li>
          <li><a href="joinus.html">JOIN US</a></li>
          <li id="donate-button">
            <a href="donate.html">DONATE</a>
          </li>
        </ul>
      </nav>
    </div>

    <!--slideshow placeholder-->
    <div
      class="slideshow"
      slideIndex="1"
    >
      <!-- slide1 -->
      <div class="mySlides fade">
        <div class="sliderText">
          <h1 class="greyText">
            HELPING HANDS FOR
            YOUR HELPING HANDS
          </h1>
          <p class="grayText">
            Partner with us.
            Dawn Nation is here to help.
          </p>
        </div>
        <div class="callToAction">
          <ul class="callToAction">
            <li id="learn-more">
              <a href="about.html">LEARN MORE</a>
            </li>
            <li id="call">
              <a href="donate.html">DONATE</a>
            </li>
          </ul>
        </div>
        <img
          src="../../assets/images/slide1.png"
          style="height: 100%;"
        >
      </div>
      <!-- slide2 -->
      <div
        id="s1"
        class="mySlides fade"
      >
        <div class="sliderText">
          <h1 class="greyText">
            COMMUNITY
            PARTNERSHIP PROGRAM
          </h1>
          <p class="grayText">
            If you are leading or a part of an organization,
            help us reach more people!
          </p>
        </div>
        <div class="callToAction">
          <ul class="callToAction">
            <li id="learn-more">
              <a href="about.html">LEARN MORE</a>
            </li>
            <li id="call">
              <a href="joinus.html">JOIN US</a>
            </li>
          </ul>
        </div>
        <img src="../../assets/images/slide2.png">
      </div>
      <!-- slide3 -->
      <div
        id="s1"
        class="mySlides fade"
      >
        <div class="sliderText">
          <h1 class="greyText">
            BE PART OF THE
            DAWN NATION TEAM
          </h1>
          <p class="grayText">
            This platform could sure use your help!
            Contact us for more information.
          </p>
        </div>
        <div class="callToAction">
          <ul class="callToAction">
            <li id="learn-more">
              <a href="about.html">LEARN MORE</a>
            </li>
            <li id="call">
              <a href="joinus.html">JOIN US</a>
            </li>
          </ul>
        </div>
        <img
          src="../../assets/images/slide3.png"
          style="height: auto;"
        >
      </div>
      <!-- slide4 -->
      <div
        id="s1"
        class="mySlides fade"
      >
        <div class="sliderText">
          <h1 class="greyText">
            SUPPORT THE
            DAWN NATION TEAM
          </h1>
          <p class="grayText">
            We are a non-profit running on
            support from people like you!
          </p>
        </div>
        <div class="callToAction">
          <ul class="callToAction">
            <li id="learn-more">
              <a href="org.html">LEARN MORE</a>
            </li>
            <li id="call">
              <a href="donate.html">DONATE</a>
            </li>
          </ul>
        </div>
        <img
          src="../../assets/images/slide4.png"
          style="height: auto;"
        >
      </div>

      <!-- The dots/circles -->
      <div
        class="progress"
        style="text-align:center"
      >
        <span
          class="dot"
          @click="currentSlide(1)"
        />
        <span
          class="dot"
          @click="currentSlide(2)"
        />
        <span
          class="dot"
          @click="currentSlide(3)"
        />
        <span
          class="dot"
          @click="currentSlide(4)"
        />
      </div>
      <!-- Next and previous buttons -->
      <a
        class="prev"
        @click="plusSlides(-1)"
      >&#10094;</a>
      <a
        class="next"
        @click="plusSlides(1)"
      >&#10095;</a>
    </div>

    <!--where to donate-->
    <div class="whereTo">
      <div class="whereToImage">
        <img
          src="../../assets/images/BoxMan1.png"
          alt="Man with a box"
        >
      </div>

      <div class="text">
        <div class="greyText">
          <h1><strong>WHERE DO I DONATE?</strong></h1>
          <h2>We're glad you asked!</h2>
          <p>Dawn Nation exists to connect you with different donations drives all across the country!</p>
        </div>

        <div class="learnMoreBox">
          <a href="orgs.html">
            <p>LEARN MORE</p>
          </a>
        </div>
      </div>
    </div>

    <!--How Do I Help?-->
    <div class="howtohelp">
      <div class="whitefont">
        <span class="hline" />
        <h1 class="whitefont">
          <strong>
            HOW
            CAN I
            HELP?
          </strong>
        </h1>
        <p class="whitefont">
          Here are the
          things that you
          can donate!
        </p>
      </div>
      <div class="row">
        <div class="column">
          <img
            src="../../assets/images/circle_alcohol.png"
            style="width: 100%;"
          >
          <p class="whitefont">
            Alcohol
          </p>
        </div>
        <div class="column">
          <img
            src="../../assets/images/circle_mask.png"
            style="width: 100%;"
          >
          <p class="whitefont">
            Masks
          </p>
        </div>
        <div class="column">
          <img
            src="../../assets/images/circle_money.png"
            style="width: 100%;"
          >
          <p class="whitefont">
            Cash
          </p>
        </div>
        <div class="column">
          <img
            src="../../assets/images/circle_gloves.png"
            style="width: 100%;"
          >
          <p class="whitefont">
            PPEs
          </p>
        </div>
        <div class="column">
          <img
            src="../../assets/images/circle_shield.png"
            style="width: 100%;"
          >
          <p class="whitefont">
            Face Shield
          </p>
        </div>
      </div>
    </div>

    <!--Partner Organiztions-->

    <div class="rowcard">
      <div class="headersection">
        <h1 class="headersection">
          Partner Organizations
        </h1>
        <p class="headersection">
          We’ve partnered with nationwide organizations to fast track your donation!
        </p>
      </div>
      <div class="columncard">
        <div class="card">
          <img
            src="../../assets/images/handshake.png"
            style="width: 100%;"
          >
          <h1>Government Institutions</h1>
          <a href="orgs.html">
            <p>Learn More ></p>
          </a>
        </div>
      </div>
      <div class="columncard">
        <div class="card">
          <img
            src="../../assets/images/office.png"
            style="width: 100%;"
          >
          <h1>Private Organizations</h1>
          <a href="orgs.html">
            <p>Learn More ></p>
          </a>
        </div>
      </div>
    </div>

    <!--Contact Information-->
    <div class="contact">
      <div class="colContact">
        <div class="linkColumn">
          <img
            class="logo_text"
            src="../../assets/images/copyofcontactlogo.png"
            alt="Dawn Nation Text Logo"
          >
        </div>
        <div class="linkColumn">
          <a href="about.html">
            <p>ABOUT US</p>
          </a><br>
          <a href="orgs.html">
            <p>PARTNER ORGS</p>
          </a><br>
          <a href="">
            <p>CONTACT US</p>
          </a><br>
          <a href="donate.html">
            <p>DONATE</p>
          </a>
        </div>
      </div>
      <div class="colContact">
        <span class="hline" />
        <h1><strong>CONTACT US</strong></h1>
        <div class="icon_group">
          <div class="rowicon">
            <img
              class="icon"
              src="../../assets/images/circle_location.png"
              alt="pin icon"
              style="width: 15%;"
            >
            <p>
              Alumni Engineers Centennial Hall
              P. Velasquez St., University of the
              Philippines Diliman, Quezon City
            </p>
          </div>
          <div class="rowicon">
            <img
              class="icon"
              src="../../assets/images/circle_phone.png"
              alt="phone icon"
              style="width: 15%;"
            >
            <p>0917 123 9091</p>
          </div>
          <div class="rowicon">
            <img
              class="icon_low"
              src="../../assets/images/circle_email.png"
              alt="email icon"
              style="width: 15%;"
            >
            <p>dawnnation@email.com</p>
          </div>
        </div>
      </div>
      <div class="colContact">
        <div class="socmed">
          <img
            class="logo_footer"
            src="../../assets/images/logo_footer.png"
            alt="Dawn Nation Text Logo"
          >
        </div>
        <div class="socmed">
          <div class="smColumn">
            <img
              class="sm"
              src="../../assets/images/sm-fb.png"
              alt="Facebook"
            >
          </div>
          <div class="smColumn">
            <img
              class="sm"
              src="../../assets/images/sm-ig.png"
              alt="Instagram"
            >
          </div>
          <div class="smColumn">
            <img
              class="sm"
              src="../../assets/images/sm-twt.png"
              alt="Twitter"
            >
          </div>
          <div class="smColumn">
            <img
              class="sm"
              src="../../assets/images/sm-yt.png"
              alt="Youtube"
            >
          </div>
        </div>
      </div>
    </div>

    <!--Copyright Information-->
    <footer>
      <div class="copyright">
        <p>
          &copy; Dawn Nation 2020. All Rights Reserved.<br>
          Dawn Nation is a non-profit crowdsourcing web platform to fast track your donation initiatives.
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'Home',
  slideIndex: 0,
  mounted: function () {
    this.$nextTick(function () {
      plusSlides(1)
    })
  },
  methods: {
    plusSlides: function plusSlides (n) {
      showSlides(slideIndex += n)
    },
    currentSlide: function currentSlide (n) {
      showSlides(slideIndex = n)
    }
  }
}
var slideIndex = 0

function plusSlides (n) {
  showSlides(slideIndex += n)
};

function showSlides (n) {
  var i
  var slides = document.getElementsByClassName('mySlides')
  var dots = document.getElementsByClassName('dot')
  if (n > slides.length) { slideIndex = 1 }
  if (n < 1) { slideIndex = slides.length }
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = 'none'
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(' active', '')
  }
  slides[slideIndex - 1].style.display = 'block'
  dots[slideIndex - 1].className += ' active'
}

</script>

<style>
body{
  margin: 0;
  top: 0;
  left: 0;
}

#app {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
}

template {
  /* remove background-color later*/
  margin: 0px;
  top: 0px;
  left: 0px;
  align-items: center;
  background: gray;
  box-sizing: border-box;
}

.greyText {
  color: #4f4f4f;
}

.greyText h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
}

.greyText h2 {
  font-family: "Work Sans";
  font-weight: 600;
  font-style: normal;
}

.greyText p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
}

.nav-container{
    width: 100%;
    height: 140px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

nav{
    float:right;
    align-items: right;
    color: white;
}

.nav-container .logo{
    width: 40%
}
.nav-container .logo img{
    float:left;
    height: 120px;
    margin-left: 27.5px;

    /* rotates the image*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

nav ul{
    display: inline;
    float: right;
}

nav ul li{
    top: 102px;
    display: inline-block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 38px;
    text-align: right;
    text-decoration: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color:orange;
}

#donate-button{
    background-color: #FE9C00;
    color: black;
    font-size: 18px;
    line-height: 28px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 27.5px;
    margin-right: 0 auto;
}

#donate-button a{
    color: black;
}

#donate-button:hover{
    background-color:#ffce7e;
}

.slideshow {
  z-index: 1;
  width: 100%;
  height: 650px;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  overflow: hidden;
  display: flex;
  top: 0px;
}

.slideshow h1 {
  font-size: 54px;
  font-family: "Montserrat";
  font-weight: bolder;
  color: white;
}

.slideshow p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: white;
}

.slideshow h3 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: white;
}

/* placeholder of slides */
.mySlides {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: inline-block; /* Make the width of box same as image */
}

.slideshow img {
  position: relative;
  width: initial;
  vertical-align: middle;
}

.sliderText {
  position: absolute;
  text-align: center;
  z-index: 998;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-left: 20px;

  top: 35%; /* Adjust this value to move the positioned div up and down */
  width: 70%; /* Set the width of the positioned div */
}

.callToAction {
  position: absolute;
  text-align: center;
  z-index: 998;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-left: 20px;
  top: 67%; /* Adjust this value to move the positioned div up and down */
  width: 100%; /* Set the width of the positioned div */
}

.callToAction li {
  position: absolute;
  padding: 30px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

#learn-more {
  border: 2px solid #fe9c00;
  color: black;
  border-radius: 5px;
  justify-content: center;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 8px;
  line-height: 26px;
  margin-left: 29.5%;
  margin-right: 0%;
  width: 15%;
}

#learn-more a {
  color: #fe9c00;
  text-decoration: none;
}

#learn-more:hover {
  color: white;
  background-color: #ffce7e;
}

#call {
  background-color: #fe9c00;
  color: black;
  border-radius: 5px;
  justify-content: center;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 8px;
  line-height: 28px;
  margin-left: 50%;
  width: 15%;
}

#call a {
  color: black;
  text-decoration: none;
}

#call:hover {
  background-color: #ffce7e;
}

/* Next & previous buttons */
.prev,
.next {
  position: absolute;
  text-align: center;
  z-index: 998;
  margin: 0 auto;
  cursor: pointer;
  margin-top: -22px;
  top: 50%-3px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  /* user-select: none; */
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the right */
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  z-index: 996;
  top: 50%;
  height: 4px;
  width: 40px;
  margin: 0 2px;
  background-color: #c4c4c4;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.progress {
  position: absolute;
  text-align: center;
  z-index: 996;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: -22px;
  height: cover;
  top: 95%; /* Adjust this value to move the positioned div up and down */
}

.active,
.dot:hover {
  background-color: #fe9c00;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* next section */

.whereTo {
  z-index: 1;
  background-color: white;
  width: 80%;
  height: 800px;
  align-items: center;
  justify-content: center;
  min-height: 750px;
  overflow: hidden;
  display: flex;
  padding-bottom: 0px;
  padding-right: 10%;
  padding-left: 10%;
}

.whereTo .text {
  float: right;
  width: 40%;
  height: 685px;
  display: inline-block;
  align-items: center;
  padding: 150px, 100px;
  justify-content: right;
}

.whereToImage {
  padding-top: 0;
  padding-left: 0;
  margin-top: 0;
  width: 60%;
  display: inline-block;
}

.whereToImage img {
  padding-top: 10%;
  margin: 0;
  width: 110%;
}

.whereTo h1 {
  font-size: 55px;
  line-height: 66px;
  text-align: right;
  margin-top: 200px;
}

.whereTo h2 {
  font-size: 30px;
  text-align: right;
  margin-top: 75px;
}

.whereTo p {
  font-size: 20px;
  text-align: right;
  margin-top: 20px;
}

.learnMoreBox p {
  font-family: "Work Sans";
  margin: 0px;
  clear: both;
  color: #fe9c00;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.learnMoreBox {
  border: #fe9c00 solid 1px;
  border-radius: 5px;
  justify-content: center;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  margin-left: 50%;
  width: 40%;
  align-items: right;
}

.learnMoreBox a {
  text-decoration: none;
}

.learnMoreBox:hover {
  background: #ffce7e;
  color: #4f4f4f;
}
/* next section */

.howtohelp {
  display: block;
  height: 550px;
  background-color: #4d4d4d;
  width: 80%;
  align-items: center;
  overflow: hidden;
  display: flex;
  padding-bottom: 0px;
  padding-right: 10%;
  padding-left: 10%;
  margin: 0px;
}

.howtohelptext {
  text-align: padding-left;
}

.whitefont {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.whitefont h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  font-size: 54px;

  padding-bottom: 0px;
}

.whitefont h2 {
  font-family: "Work Sans";
  font-weight: 600;
  font-style: normal;
}

.whitefont p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  padding-top:0px;
}

p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
}

.hline {
  position: relative;
  top: 185%;
  cursor: pointer;
  z-index: 996;
  height: 4px;
  width: 40px;
  margin: 0 2px;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  background-color: #fe9c00;
}

.row {
  display: flex;
  padding-left: 50px;
  max-height: 270px;
  max-block-size: 270px;
}

.column {
  flex: 33.33%;
  padding: 35px;
  border: 20px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

/* Partner Organizations */

.headersection{
  float: inline-start;
  columns: #4d4d4d;;
  padding-top: 20px;
  padding-bottom:20px;
  text-align: center;
  width: 100%;
}

.headersection h1{
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-size: 54px;

  padding-bottom: 0px;
}

.headersection h2{
  font-family: 'Work Sans';
  font-weight: 600;
  font-style: normal;
}

.headersection p{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;

  padding-top: 0px;
}

.rowcard{
  display: block;
  height: 800px;
  background-color: #E5E5E5;
  width: 80.4%;
  align-items: center;
  overflow: hidden;
  display:flex;
  padding-bottom: 0px;
  padding-right: 10%;
  padding-left: 10%;
}

/* Float four columns side by side */
.columncard {
  display: block;
  float: left;
  width: 50%;
  padding: 0 10px;
  }

/* Remove extra left and right margins, due to padding in columns */
.rowcard {margin: 0 -5px;}

/* Clear floats after the columns */
.rowcard:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.card a{
  text-decoration: none;
}

.card a p:hover{
  color: #FE9C00;
}

.card a:visited{
  color:black
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/*Testimonials*/

.testimonials{
  align-items: center;
  height: 800px;
  background: white;
}

.cardgroup {
  display: block;
  align-items: baseline;
}

.cardtestimonial {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: lawngreen;
  width: 60%;
  height: 400px;
  border-radius: 10px;
}

.customer {

}

.name {

}

.cardpic{
  width: 50%;
  float: right;
}

.ambassador{
  height:500px;
  position: relative;
  bottom: 0;
  right: 0;
}

/*Contact Information*/
.contact{
  display: flex;
  overflow: hidden;
  text-align: center;
  width: 80%;
  background-color: #4d4d4d;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 10%;
  padding-left: 10%;
}

.colContact {
  flex: 33.33%;
  padding-right: 30px;
  border: 20px;
  text-align: left;
}

.colContact h1{
  font-family: 'Montserrat';
  font-weight: bold;
  color: white;
  font-style: normal;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.colContact img{
  float: left;
}

.linkColumn{
  text-align: left;
  padding-top: 30px;
}

.linkColumn p{
  font-family: 'Work Sans';
  font-size: 15px;
  margin: 0px;
  clear: both;
  color: white;
  display: flex;
  text-decoration: none;
}

.linkColumn a{
  text-decoration: none;
}

.rowicon{
  display: flex;
  align-items: center;
}

.rowicon p{
  font-family: 'Work Sans';
  font-size: 15px;
  margin: 0px;
  clear: both;
  color: white;
  display: flex;
}

.icon{
  padding: 10px 25px 25px 0px;
}

.icon_low{
  padding: 10px 25px 0px 0px;
}

.logo_footer{
  display:block;
  padding-bottom: 50px;
  width: 100%;
}

.logo_text{
  display:block;
  padding-bottom: 50px;
  width: 80%;
}

.socmed {
  display: flex;
  width: 90%;
}

.smColumn {
  flex: 33.33%;
  padding: 5px;
}

.sm{
  width: 80%;
}

/* FOOTER */

footer{
  display: block-inline;
  text-align: center;
  width: 100%;
  background: #FE9C00;
  padding: #FE9C00;
  align-items: center;
  justify-content: center;
}

.copyright {
  display: block;
  height: auto;
  background-color: #FE9C00;
  width: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-clip: content-box;
  box-shadow: inset 20px 20px 20x 20px #FE9C00;
}
/* scroller */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 6px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(59, 59, 59, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(59, 59, 59, 0.8);
}
</style>
