<template>
  <div id="app">
    <!--nav bar with logo-->
    <div
      id="navcontainer"
      class="sticky"
    >
      <div class="logo">
        <a href="/"><img
          src="../../assets/images/logo.png"
          alt="DawnNationLogo"
        ></a>
      </div>
      <nav>
        <ul>
          <li><a href="about-us.html">ABOUT US</a></li>
          <li><a href="orgs.html">ORGS</a></li>
          <li><a href="joinus.html">JOIN US</a></li>
          <li id="donate-button">
            <a href="donate.html">DONATE</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header">
      <h1>Join Us</h1>
    </div>

    <!--Description 1-->
    <div class="description1">
      <div class="box1">
        <img
          src="../../assets/images/group.jpg"
          alt="Box1"
        >
      </div>
      <div class="greyText1">
        <h1><strong>HOW TO APPLY</strong></h1>
        <h2>Application is as easy as ABC!</h2>
        <p>Apply • Browse • Connect</p>
      </div>
    </div>

    <!--TYPEFORM-->
    <div
      class="typeform-widget"
      data-url="https://form.typeform.com/to/GKQ8vUyX?typeform-medium=embed-snippet"
      style="width: 100%; height: 500px;"
    />
    <!--Contact Information-->

    <div class="contact">
      <div class="colContact">
        <div class="linkColumn">
          <img
            class="logo_text"
            src="../../assets/images/DAWN NATION.png"
            alt="Dawn Nation Text Logo"
          >
        </div>
        <div class="linkColumn">
          <a href="about.html">
            <p>ABOUT US</p><br>
          </a>
          <a href="orgs.html">
            <p>PARTNER ORGS</p><br>
          </a>
          <a href="">
            <p>CONTACT US</p><br>
          </a>
          <a href="donate.html">
            <p>DONATE</p><br>
          </a>
        </div>
      </div>
      <div class="colContact">
        <span class="hline" />
        <h1><strong>CONTACT US</strong></h1>
        <div class="icon_group">
          <div class="rowicon">
            <img
              class="icon"
              src="../../assets/images/circle_location.png"
              alt="pin icon"
              style="width: 15%;"
            >
            <p>
              Alumni Engineers Centennial Hall
              P. Velasquez St., University of the
              Philippines Diliman, Quezon City
            </p>
          </div>
          <div class="rowicon">
            <img
              class="icon"
              src="../../assets/images/circle_phone.png"
              alt="phone icon"
              style="width: 15%;"
            >
            <p>0917 123 9091</p>
          </div>
          <div class="rowicon">
            <img
              class="icon_low"
              src="../../assets/images/circle_email.png"
              alt="email icon"
              style="width: 15%;"
            >
            <p>dawnnation@email.com</p>
          </div>
        </div>
      </div>
      <div class="colContact">
        <div class="socmed">
          <img
            class="logo_footer"
            src="../../assets/images/logo_footer.png"
            alt="Dawn Nation Text Logo"
          >
        </div>
        <div class="socmed">
          <div class="smColumn">
            <img
              class="sm"
              src="../../assets/images/sm-fb.png"
              alt="Facebook"
            >
          </div>
          <div class="smColumn">
            <img
              class="sm"
              src="../../assets/images/sm-ig.png"
              alt="Instagram"
            >
          </div>
          <div class="smColumn">
            <img
              class="sm"
              src="../../assets/images/sm-twt.png"
              alt="Twitter"
            >
          </div>
          <div class="smColumn">
            <img
              class="sm"
              src="../../assets/images/sm-yt.png"
              alt="Youtube"
            >
          </div>
        </div>
      </div>
    </div>
    <!--Copyright Information-->
    <footer>
      <div class="copyright">
        <p>
          &copy; Dawn Nation 2020. All Rights Reserved.<br>
          Dawn Nation is a non-profit crowdsourcing web platform to fast track your donation initiatives.
        </p>
      </div>
    </footer>
  </div>
</template>

<script>

export default {
  name: 'JoinUs',

  mounted: function () {
    var qs; var js; var q; var s; var d = document
    var gi = d.getElementById
    var ce = d.createElement
    var gt = d.getElementsByTagName
    var id = 'typef_orm'
    var b = 'https://embed.typeform.com/'
    if (!gi.call(d, id)) {
      js = ce.call(d, 'script')
      js.id = id; js.src = b + 'embed.js'
      q = gt.call(d, 'script')[0]
      q.parentNode.insertBefore(js, q)
    }
  }
}
</script>

<style>

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    /* remove background-color later*/
    margin: 0px;
    align-items: center;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.header{
    display: block;
    background-position: center top;
    background-image: url(../../assets/images/slide3.png);
    max-width: 100%;
    padding: 30px;
    text-align: center;
    justify-content: center;
    height: 200px;
}

.header h1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    color: white;
    vertical-align: middle;
    position: relative;
    top: 120px;
}

#navcontainer{
    z-index: 500;
    overflow: hidden;
    width: 100%;
    height: 90px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(77, 77, 77, 0.7);

}

nav{
    float:right;
    align-items: right;
    color: white;
}

#navcontainer .logo{
    width: 40%
}

#navcontainer .logo img{
    float:left;
    height: 120px;
    margin-left: 27.5px;

    /* rotates the image*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

nav ul{
    display: inline;
    float: right;
}

nav ul li{
    top: 102px;
    display: inline-block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 38px;
    text-align: right;
    text-decoration: none;
}

nav ul li a{
    color: white
}

nav ul li a:hover{
    color:orange;
}

#donate-button{
    background-color: #FE9C00;
    color: black;
    font-size: 18px;
    line-height: 28px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 27.5px;
    margin-right: 0 auto;
}

#donate-button a{
    color: black;
}

#donate-button:hover{
    background-color:#ffce7e;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .description {
    padding-top: 50px;
}

/*MAIN CONTENT*/

/* first description */

.greyText1{
    color: #4d4d4d;;
    text-align: center;
    padding-left: 50px;
    width: 70%;
    text-align: right;
}

.greyText1 h1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    font-size: 5vw;
}

.greyText1 h2{
    font-family: 'Work Sans';
    font-weight: 600;
    font-style: bold;
    font-size: 4vw;
    margin-top: 75px;
}

.greyText1 p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    margin-top: 20px;
}

.description1 {
    background-color: white;
    width: 90%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    display: flex;
    padding: 100px 0 100px 0;
}

.description1 .text{
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
}

.box1{
    width: 80%;
}

.box1 img{
    width: 100%;
    align-items: left;
    height: 100%;
}

/* second description */

.greyText2{
    color: #4d4d4d;;
    text-align: center;
    padding-right: 50px;
    width: 70%;
    text-align: left;
}

.greyText2 h1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    font-size: 5vw;
}

.greyText2 h2{
    font-family: 'Work Sans';
    font-weight: 600;
    font-style: normal;
    font-size: 4vw;
    margin-top: 75px;
}

.greyText2 p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    margin-top: 20px;
}

.description2 {
    background-color: white;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    display: flex;
    float: right;
    padding: 100px 0 100px 0;
}

.description2 .text{
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
}

.box2{
    width: 80%;
}

.box2 img{
    width: 100%;
    align-items: left;
    height: 100%;
}

/* testimonials */

.headersection{
    color: #4d4d4d;;
    padding-top: 20px;
    padding-bottom:5px;
    text-align: center;
    width: 100%;
}

.headersection h1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    font-size: 5vw;
}

.headersection h2{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 4vw;
    font-style: normal;
}

.headersection p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
}

/*Testimonials*/

.slideshow{
    display: block;
    align-items: center;
    background: white;
    overflow: hidden;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
}

.mySlides {
    display: block;
    align-items: baseline;
    align-items: center;
    height: 500px;
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.cardtestimonial {
    z-index: 2;
    margin: auto;
    background: linear-gradient(to right,#eeeeee, #c2c2c2);
    width: 100%;
    height: 90%;
    border-radius: 10px;
    z-index:2;
    position: absolute;
    bottom: 0;
}

.cardtext {
    padding-left: 80px;
    padding-right: 80px;
    position: absolute;
    width: 40%;
    top: 50%;
    transform: translate(0, -50%);
}

.feedback{
    font-family: Work Sans;
    font-size: 1.8vw;
    color: #4d4d4d;
}

.stars{
    padding-top: 40px;
    font-family: Montserrat;
    color: #FE9C00;
}

.name {
    font-family: Montserrat;
    font-weight: bold;
    color: #FE9C00;
    padding-bottom: 10px;
}

.customer {
    font-family: Work Sans;
    font-size: 12px;
}

.cardpic{
    z-index: 2;
    width: 60%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 10px;
}

.ambassador{
    z-index: 2;
    height: auto;
    width: 100%;
    max-width: 100%;
}

/* Next & previous buttons */
.prev, .next {
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    margin-top: -22px;
    padding: 16px 32px 16px 32px;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    position: absolute;
    z-index: 4;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba(254,156,0,0.5);
    /* user-select: none; */
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 5px;
}

/* Position the "prev button" to the right */
.prev {
    left: 0;
    border-radius: 5px;
}

/* On hover, add a orange color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(254,156,0,0.9);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.buttons{
    position: relative;
}

/* FOOTER */

/*Contact Information*/
.contact{
    display: flex;
    overflow: hidden;
    text-align: center;
    width: 80%;
    background-color: #4d4d4d;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
}

.colContact {
    flex: 33.33%;
    padding-right: 30px;
    border: 20px;
    text-align: left;
}

.colContact h1{
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    font-style: normal;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.colContact img{
    float: left;
}

.linkColumn{
    text-align: left;
    padding-top: 30px;
}

.linkColumn p{
    font-family: 'Work Sans';
    font-size: 15px;
    margin: 0px;
    clear: both;
    color: white;
    display: flex;
}

.rowicon{
    display: flex;
    align-items: center;
}

.rowicon p{
    font-family: 'Work Sans';
    font-size: 15px;
    margin: 0px;
    clear: both;
    color: white;
    display: flex;
}

.icon{
    padding: 10px 25px 25px 0px;
}

.icon_low{
    padding: 10px 25px 0px 0px;
}

.logo_footer{
    display:block;
    padding-bottom: 50px;
    width: 100%;
}

.logo_text{
    display:block;
    padding-bottom: 50px;
    width: 80%;
}

.socmed {
    display: flex;
    width: 90%;
}

.smColumn {
    flex: 33.33%;
    padding: 5px;
}

.sm{
    width: 80%;
}

footer{
    display: block-inline;
    text-align: center;
    width: 100%;
    background-color: #FE9C00;
    align-items: center;
    justify-content: center;
}

.copyright {
    display: block;
    height: auto;
    background-color: #FE9C00;
    width: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: normal;
    color: #4d4d4d;
}
/* scroller */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 6px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(59, 59, 59, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(59, 59, 59, 0.8);
}
</style>
